<div class='complete'>
  
  <div class="summary">
    Merci, votre participation a &eacute;t&eacute; enregistr&eacute;e
  </div>

  {{#editable}}
    <a href="#" class='btn' data-oahu-action="registration.edit">Modifier mes informations</a>
  {{/editable}}

  <a href="#" class='btn' data-oahu-action="quiz.submit">Valider</a>
</div>
