{{#account}}
Bravo, c'est termin&eacute;. Cliquez ici pour enregistrer votre participation.

<div data-oahu-widget="registration" data-oahu-editable="true"></div>

{{/account}}
{{^account}}
Bravo, vous avez termin&eacute; le quiz. Inscrivez vous pour enregistrer votre participation !
<div class='actions'><a class="btn primary" data-oahu-action="quiz.submit">M'inscrire</a></div>
{{/account}}