<div class='pagination'>
  <div class='pages'>
    <a class='btn prev'  data-oahu-action="quiz.prev">← Pr&eacute;c&eacute;dent</a>
    <a class='current'><span class="current_idx"></span> / {{entries.length}}</a>
    <a class='btn next'  data-oahu-action="quiz.next">Suivant →</a>
  </div>
  <div class='actions'>
    <a class='btn finish' data-oahu-action="quiz.finish">Terminer</a>
  </div>
</div>